# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
*.env
*.sqlite3
vectorstore_index/        # FAISSやChromaのローカルデータ（ベクトルストア）

# Node
node_modules/
.next/
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker
**/__pycache__/
